# Dependencies
node_modules/
.pnp
.pnp.js
jspm_packages/

# Testing
coverage/
__snapshots__/

# Next.js
.next/
out/
.turbo/

# Production
build/
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
!.env.example

# Vercel
.vercel

# Firebase
.firebase/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
.stylelintcache

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Other
.vite/
.npm
.yarn-integrity
.cache/
